@page "/"
<div class="pyro" style=@displayChange>
    <div class="before"></div>
</div>
<div class="main-content">
    <h1 class="centered">Would you like to waste some CO2?</h1>

    <p class="centered">Every time you click this button, <br />the traffic it generates emmits about 1kg of CO2. </p>

    <div class="button">
        <button class="btn btn-primary" @onclick="IncrementCarbonCount">Waste Carbon!</button>
    </div>

</div>
<div class="secondary-content secondary-color" style=@displayChange> 
    <h1 class="centered">Congratulations, you've just wasted @carbonCount kg of CO2!</h1>

        <div class="button-group">
            <button class="btn btn-primary" @onclick="IncrementCarbonCount">Waste some more!</button>
            <button class="btn btn-secondary" @onclick="RevealHoax">What?! Make it stop!</button>
        </div>

</div>

<div class="secondary-content secondary-color" style=@displayHoax >
    <p>Don't worry. The data never leaves your browser!</p>
</div>
 
 <div class="secondary-content third-color" style=@displayHoax >
    <p>But downloading this shitty app was a huge waste, sorry about that. <br/>Maybe you'd like to click the button some more to make this experience sort of carbon neutral..?</p>

    <button class="btn btn-primary" @onclick="IncrementCarbonCount">Reduce waste by increasing waste!</button>
</div>

@code {
    private int carbonCount = 0;
    private string displayChange = "display: none;";
    private string displayHoax = "display: none;";

    private void IncrementCarbonCount()
    {
        carbonCount++;
        displayChange = "display: block;";
    }
    private void RevealHoax() 
    {
        displayChange = "display: none;";
        displayHoax = "display: block";
        carbonCount = 0;
    }
}
